:root {
    --primary: #df2800;
    --bg: #010101;
}

* {
    margin: none;
    padding: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4em 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #d21f3c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: var(--bg);
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
    text-decoration: underline;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.2em;
    margin: 0 1em;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5em;
    border-bottom: 0.1em solid var(--primary);
    transform: scaleX(0);
    transition: 0.1s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5em;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#humberger-menu {
    display: none;
}

/* Search Form */

.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 3.5%;
    background-color: #fff;
    width: 35rem;
    height: 3rem;
    display: flex;
    align-items: center;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s;
}

.navbar .search-form.active {
    transform: scaleY(1);

}

.navbar .search-form input {
    font-size: 1.3rem;
    height: 100%;
    width: 100%;
    color: var(--bg);
    padding: 1rem;
}

.navbar .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.4rem;
    color: var(--bg);
}

/* Shopping Cart */

.navbar .shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    height: 100vh;
    width: 34rem;
    padding: 0 1.5rem;
    color: var(--bg);
    background-color: #fff;
    transition: 0.3s linear;
}

.navbar .shopping-cart.active {
    right: 0;
}

.navbar .cart-item {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #666;
    position: relative;
}

.navbar .shopping-cart h3 {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
}

.navbar .shopping-cart img {
    border-radius: 50%;
}

.navbar .shopping-cart .item-price {
    font-size: 1.2rem;
}

.navbar .shopping-cart .remove-item {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.navbar .shopping-cart .remove-item:hover {
    color: var(--primary);
}

/* Hero Section */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../Img/WhatsApp\ Image\ 2024-12-03\ at\ 20.19.20.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 5%, rgba(255, 255, 255, 0) 62.5%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 40rem;
}

.hero .content h1 {
    font-size: 4em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 0.9;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 1.4;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content p:hover {
    color: var(--primary);
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */

.about {
    padding: 6rem 7% 1.4rem;
}

.about h2,
.contact h2 {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 3rem;
}

.about h2 span,
.contact h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6rem;
}

/* Menu Section */
.menu {
    padding: 6rem 7% 1.4rem;
}

.menu .menu-first-tittle {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}

.menu .menu-first-tittle span {
    color: var(--primary);
}

.menu h2,
.products h2 {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 3rem;
}

.menu h2 span,
.products h2 span {
    color: var(--primary);
}

.menu p,
.contact p,
.products p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;

}

.menu .row .menu-card {
    text-align: center;
}

.menu .row .menu-card img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 3rem;
}

.menu .row .menu-card .menu-card-tittle {
    margin: 1.3rem 2.3rem;
}

/* Menu Produk Section */

.products {
    padding: 7rem 7%;
}

.products .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin-top: 4rem;
}

.products .row .products-card {
    text-align: center;
    border: 1px solid #666;
    padding: 2rem;
}

.products .products-icon {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1.4rem;
}

.products .products-icon a {
    width: 4rem;
    height: 4rem;
    color: #fff;
    margin: 0.3rem;
    border: 1px solid #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products .products-icon a:hover {
    background-color: var(--primary);
    border: solid var(--primary);
}

.products .products-image {
    padding: 1rem 0;
}

.products .products-content h3 {
    font-size: 1.3rem;
}

.products .products-stars {
    font-size: 1.7rem;
    padding: 0.8rem;
    color: var(--primary);
}

.products .products-stars .stars {
    fill: var(--primary);

}

/* Contact Section */

.contact {
    padding: 5rem 7%;
}

.contact h2 {
    margin-bottom: 1rem;
}

.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: #222;
    height: 25rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 3.5rem 2rem;
    text-align: center;
}

.contact .row form .input-grup {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-color: var(--bg);
    border: 1px solid var(--primary);
    padding-left: 1.5rem;
}

.contact .row form .input-grup input {
    width: 100%;
    padding: 1.3rem;
    font-size: 1.2rem;
    background: none;
    color: #fff;
    margin-left: 0.8rem;
}

.contact .row form .btn {
    margin-top: 2rem;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    color: #fff;
    background-color: var(--primary);
    cursor: pointer;
}

/* Footer */

footer {
    background-color: var(--primary);
    height: 12rem;
    padding: 0.8rem;
    text-align: center;
    flex-wrap: wrap;
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a {
    color: #fff;
    margin: 0.8rem;
}

footer .socials a:hover {
    color: var(--bg);
}

footer .links {
    margin-bottom: 2rem;
    margin-top: 1.2rem;
}

footer .links a {
    font-size: 1.1rem;
    color: #fff;
    padding: 0 1rem;
}

footer .links a:hover {
    color: var(--bg);
}

footer .credit a {
    color: #222;
}

footer .credit a:hover {
    color: #fff;
}

/* Modal Box */

/* Item Detail */

.modal {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);

}

.modal .modal-container {
    position: absolute;
    background-color: #fefefe;
    color: var(--bg);
    margin: 15% auto;
    padding: 1.2rem;
    border: 1 px solid #666;
    width: 80%;
    animation: animateModal 0.5s;
}

.modal .modal-container .close-icon {
    color: var(--bg);
}

.modal .modal-container .close-icon:hover {
    color: var(--primary);
}

/* Modal Animation */

@keyframes animateModal {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.modal .modal-container .close-icon {
    position: absolute;
    right: 1rem;
}

.modal .modal-content {
    display: flex;
    flex-wrap: wrap;
}

.modal .modal-container img {
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.modal .modal-content p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 1.2rem;
}

.modal .modal-content a {
    display: flex;
    gap: 1rem;
    width: 12rem;
    background-color: var(--primary);
    color: #fff;
    margin-top: 1rem;
    padding: 1rem 1.6rem;
}

/* Media Queries */

/* Desktop */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    html {
        font-size: 115%;
    }

    .navbar .navbar-logo {
        font-size: 1.5rem;
    }

    .navbar .navbar-nav a {
        font-size: 0.8rem;
        margin-right: auto;
    }

    .navbar .navbar-nav a:hover {
        color: var(--primary);
    }

    .navbar .shopping-cart {
        width: 25rem;
    }

    .about .row {
        display: flex;
        align-items: center;
        padding: 0.5rem;
    }

    .about h2 {
        font-size: 2rem;
    }

    .about .row .content h3 {
        font-size: 1.5rem;
    }

    .about .row .content p {
        font-size: 1rem;
    }

    .menu h2 {
        font-size: 2rem;
    }

    .menu .menu-first-tittle {
        font-size: 1.6rem;
    }

    .menu .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu .row .menu-card {
        margin: 0 4.5rem;
    }

    .products .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1.5rem;
        margin-top: 4rem;
    }

    .contact h2 {
        font-size: 2rem;
    }

    .contact {
        padding: 7rem 7%;
    }

    .contact .row {
        height: 27.5rem;
    }

    .contact .row form .input-grup input {
        padding: 1rem;
        font-size: 1.7rem;
        margin-left: 0.8rem;
    }

    .contact .row form .btn {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        margin: 2.7rem;
    }

}

/* Laptop */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 70%;
    }

    .navbar .navbar-nav a {
        margin: 0.7rem;
        font-size: 1.05rem;
    }

    .about {
        padding: 7rem 7%;
    }

    .about h2 {
        margin-bottom: 4rem;
    }

    .about .row .about-img img {
        height: 30rem;
        object-fit: cover;
        object-position: center;
    }

    .menu .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu .row .menu-card {
        margin-bottom: 2.4rem;
    }

    .contact {
        padding: 15rem 7%;
    }

    .contact .row {
        height: 32.5rem;
    }

    .contact .row form .input-grup {
        margin-top: 2rem;
    }

    .contact .row form .input-grup input {
        padding: 1.5rem;
        font-size: 1.7rem;
        margin-left: 0.8rem;

    }

    .contact .row form .btn {
        padding: 0.5rem 1.7rem;
        font-size: 2rem;
    }

    .navbar .search-form {
        width: 40rem;
        height: 4rem;
    }

    .navbar .search-form input {
        font-size: 1.7rem;
    }
}

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    html {
        font-size: 50%;
    }

    #humberger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--bg);
        width: 35rem;
        height: 100vh;
        border-top: 1px solid var(--primary);
        transition: 0.2s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: #fff;
        display: block;
        margin: 1.5em;
        padding: 0.5em;
        font-size: 2em;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.3);
    }

    .navbar .shopping-cart {
        width: 42.5rem;
    }

    .about .row {
        flex-wrap: wrap;
        margin-right: 2rem;
    }

    .about .row .about-img img {
        height: 50rem;
        object-fit: cover;
        object-position: center;

    }

    .about .row .content {
        padding: 0;
    }

    .about h2 {
        font-size: 4rem;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 2rem;
    }

    .menu h2 {
        font-size: 4rem;
    }

    .menu .row {
        display: block;
        margin-top: 5rem;
        justify-content: center;
        align-items: center;
    }

    .menu .row .menu-card {
        margin: 5rem;
    }

    .menu .menu-first-tittle {
        font-size: 3.5rem;
    }

    .products .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        gap: 4rem;
        margin-top: 4rem;
        flex-wrap: wrap;
    }

    .products .row .products-image img {
        width: 20rem;
        height: 20rem;
    }

    .contact {
        padding: 8rem 7%;
    }

    .contact .row {
        flex-wrap: wrap;
        height: 51.5rem;
    }

    .contact .row form .input-grup {
        margin-top: 2rem;
    }

    .contact .row form .input-grup input {
        padding: 1.5rem;
        font-size: 1.7rem;
        margin-left: 0.8rem;

    }

    .contact .row form .btn {
        padding: 0.5rem 1.7rem;
        font-size: 2rem;
    }

    footer {
        height: 15rem;
    }

    footer .links a {
        font-size: 1.4rem;
    }

    footer .credit p {
        font-size: 1.4rem;
    }

    .navbar .search-form {
        width: 45rem;
        height: 5rem;
    }

    .navbar .search-form input {
        font-size: 2rem;
    }

}

/* Mobile Phone */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    html {
        font-size: 50%;
    }

    #humberger-menu {
        display: inline-block;
    }

    .about {
        padding: 8.5rem 7%;
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        width: 250px;
        height: 350px;
        object-fit: cover;
        object-position: center;
        display: block;
        margin: auto;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--bg);
        width: 20rem;
        height: 100vh;
        transition: 0.2s;

    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: #fff;
        display: block;
        margin: 1.4rem;
        padding: 0.5rem;
        font-size: 1.4em;

    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.3);
    }


    .menu {
        padding: 6.5rem 7% 2rem;
    }

    .menu .row .menu-card {
        margin: 4.5rem;
    }

    .menu .row .menu-card img {
        margin: 0.5rem;
        width: 200px;
        height: 200px;
    }

    .contact {
        padding: 7.5rem 7%;
    }

    .contact .row {
        flex-wrap: wrap;
        height: 51.5rem;
    }

    .contact .row form .input-grup {

        margin-top: 2rem;
    }

    .contact .row form .input-grup input {
        padding: 1.5rem;
        font-size: 1.7rem;
        margin-left: 0.8rem;
    }

    .contact .row form .btn {
        padding: 0.5rem 1.7rem;
        font-size: 2rem;
    }

    footer {
        height: 15rem;
    }

    footer .links a {
        font-size: 1.4rem;
    }

    footer .credit p {
        font-size: 1.4rem;
    }

    .products .row .products-image img {
        width: 20rem;
        height: 20rem;
    }

    .navbar .shopping-cart {
        width: 25rem;
    }

    .navbar .shopping-cart .cart-item img {
        height: 9rem;
        width: 9rem;
    }

    .navbar .shopping-cart .cart-item h3 {
        font-size: 1.4rem;
    }

    .navbar .shopping-cart .remove-item {
        position: absolute;
        right: 2rem;
        padding-left: 0.8rem;
    }
}